<div class="center">
    <div class="formContainer">
        <p class= "titleText">Update Opportunity</p>
        <form (submit)="onSubmit()" [formGroup]="jobDescriptionForm">

            <div>
                <mat-form-field >
                    <mat-label>Profile</mat-label>
                    <mat-select [(value)]="selectedProfile" #profileField formControlName="profile" disabled>
                        <mat-option *ngFor="let food of proflie" [value]="food.id">
                            {{food.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="profileField"> You Must Select a profile</mat-error>
                </mat-form-field>
            </div>


            <mat-form-field>
                <mat-label>Employment Type</mat-label>
                <mat-select required [(value)]="selectedEmploymentType" formControlName="employmentType" disabled>
                    <mat-option *ngFor="let food of employmentType" [value]="food.id">
                        {{food.name}}
                    </mat-option>
                </mat-select>
                <mat-error> You Must Select an Employment Type</mat-error>
            </mat-form-field>



            <mat-form-field class="example-full-width">
                <mat-label>Openings</mat-label>
                <input type='number' matInput placeholder="Number Of Vacancies" formControlName="openings"
                    name="openings" required>
                <mat-error> Must be a number greater than 0 and less than 10</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Location</mat-label>
                <mat-select required [(value)]="selectedLocation" formControlName="location">
                    <mat-option *ngFor="let food of location" [value]="food.id">
                        {{food.name}}
                    </mat-option>
                </mat-select>
                <mat-error> Please Select a Job Location </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Hiring Manager</mat-label>
                <mat-select required [(value)]="selectedHiringManager" formControlName="hiringManager">
                    <mat-option *ngFor="let food of hiringManager" [value]="food.id">
                        {{food.name}}
                    </mat-option>
                </mat-select>
                <mat-error> Please Select a Hiring Manager </mat-error>
            </mat-form-field>


            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Fruit selection" formControlName="skills">
                    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Type in the Skill" #fruitInput [formControl]="fruitCtrl"
                        [matAutocomplete]="auto" [matChipInputAddOnBlur]="false" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete>
                
                <mat-error *ngIf = "selectedSkills.length === 0"> There are no Valid Skills Selected </mat-error>
            </mat-form-field>

            

            <mat-form-field class="example-chip-list">
                <mat-label>Job Description</mat-label>
                <textarea name="jobDescription" formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" matInput placeholder="Ex. It makes me feel..."></textarea>
                    <mat-error *ngIf = "selectedSkills.length === 0"> JobDescription must be atleast 10 characters </mat-error>
            </mat-form-field>

            <div class="buttonContainer">
             <div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </div>   
        </div>
        </form>

    </div>
</div>